.home{
    margin-top: 40px;
    padding: 10px;
   
}
p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.grid-container{
    display: grid;
    grid-template-columns: 20% 80%;
    column-gap: 20px;
}
    @media (max-width: 1200px) {
        .grid-container{
        
            grid-template-columns: 25% 75%;
        
        }
    
    }

    
    @media (max-width: 992px) {
        .grid-container{
         
            grid-template-columns: 30% 70%;
          
        }
        
    }
    @media (max-width: 768px) {
        .grid-container{
         
          
            grid-template-columns: 100%;
          
        }
        
    }


 